/* Styling */

/* Making the entire page Arial font */
body {
    font-family: Arial;
}

/* Used to make the table header blue */
.blue {
    background-color: skyblue;
}

/* Flexbox container */
.container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

/* Center image within parent */
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

/* styling for table */
#data-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:95%;
}
/* Universal tag for centering text */
#center-text {
    text-align: center;
}

/* Adding line style on a table */
td{
    border-bottom: 1px solid #ddd;
}

/* Flexbox for shapes */
.shape_container{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
  
/* Container for circle svgs */
.circle_container {
    fill: magenta;
    opacity: 0.5;
    width: 75px;
    height: 75px;
  }

  /* Container for rectangle svgs */
.rectangle_container {
    fill: skyblue;
    stroke: maroon;
    stroke-width: 5;
    width: 75px;
    height: 75px;
  }

  /* Hover feature for rect  */
.rectangle_container:hover {
    fill: lightgreen;
  }
  
  /* Hover feature for circle */
.circle_container:hover {
    stroke: blue;
    stroke-width: 6;
  }