/* Styling */

/* Making the entire page Arial font */
body {
    font-family: Arial;
}

/* Used to make the table header blue */
.blue {
    background-color: skyblue;
}

/* Flexbox container */
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Center image within parent */
.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

/* styling for table */
#data-table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width:95%;
}
/* Universal tag for centering text */
#center-text {
    text-align: center;
}

/* Adding line style on a table */
td{
    border-bottom: 1px solid #ddd;
}

